<form>
  <div class="row">
    <div class="four columns">
      <label for="exampleEmailInput">Search</label>
      <input class="u-full-width" type="text" placeholder="Spider-man" id="search" autofocus=true>
    </div>
    <div class="four columns">
      <label for="exampleRecipientInput">Library</label>
      <select class="u-full-width" id="apiLibrary">
        <option value="characters">Characters</option>
        <option value="comics">Comics</option>
        <option value="series">Comic Series</option>
         <option value="stories">Comic Stories</option>
         <option value="events">Events  & Crossovers</option>
          <option value="creators">Creators & Artists</option>
      </select>
    </div>
    <div class="four columns">
    <label for="exampleEmailInput">Let's Do this!</label>
		<input class="button-primary" type="submit" value="Submit" id="searchbutton">
	</div>
  </div>

</form>